.cards {
    /* padding: 4rem; */
    background: #262626;
  }
  
  h1 {
    text-align: center;
  }
  
  .cards__container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
  }
  
  .cards__wrapper {
    position: relative;
    margin: 50px 0 45px;
  }
  
  .cards__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 24px;
  }
  
  .cards__item {
    display: flex;
    margin: 0 30px 0;
    border-radius: 10px;
    background-color: rgb(59, 59, 59);
    width: calc(33.333% - 60px); /* Adjust width to fit three cards per row */
    max-width: 500px; /* Optional: set a max-width */
    flex: 1 1 auto; 
  }
  
  /* .cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
  } */
  
  /* .cards__item__pic-wrap {
    position: relative;
    width: 100%;
    padding-top: 67%;
    overflow: hidden;
  } */

  .cards__item__icon-wrap {
    position: relative;
    width: 100%;
    padding-top: 10%;
    overflow: hidden;
  }

  .cards__item__icon-wrap i {
    font-size: 2rem; 
    color: #526fcf; 
  }
  
  .fade-img {
    animation-name: fade-img;
    animation-duration: 2s;
  }
  .cards__item__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: all 0.2s linear;
  }
  
  .cards__item__img:hover {
    transform: scale(1.1);
  }
  
  .cards__item__info {
    padding: 20px 0px 30px;
    margin-right: 40px;
  }
  
  .cards__item__text {
    color: #ffffff;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }

  .cards__item__desc {
    color: #9c9c9c;
    font-size: 16px;
    margin-top: 10px;
    line-height: 20px;
    text-align: left;
    margin-right: -8px;
  }
  
  @media only screen and (min-width: 1200px) {
    .content__blog__container {
      width: 84%;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    .cards__items {
      display: flex;
    }
}

@media only screen and (max-width: 1024px) {
    .cards__items {
      display: block;
    }
    .cards__item {
      margin: 20px auto;
      width: 80%; 
      max-width: 600px;
      padding: 0px 10px 0px;
    }
}