.footer-container {
    background-color: #1b191a;
    padding: 4rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

.footer-text {
    color: white;
    text-align: center;
}